.footer__wrapper {
  background-image: url(../images/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  position: relative;
  padding-top: 165px;
  overflow: hidden;

  @media only screen and (max-width: 1720px) {
    padding: 90px;
  }

  @media only screen and (max-width: 1375px) {
    padding: 122px;
  }
}

.first__h3 {
  color: #ffffff;
  margin-bottom: 233px;
  @media only screen and (max-width: 1720px) {
    margin-bottom: 150px;
  }

  @media only screen and (max-width: 1600px) {
    margin-bottom: 90px;
  }

  @media only screen and (max-width: 1200px) {
    text-align: center;
  }
}

.first__h3::before {
  content: "";
  width: 14%;
  border-bottom: 3px solid #ffffff;
  position: absolute;
  top: 20%;
  left: -22%;

  @media only screen and (max-width: 1720px) {
    width: 10%;
    left: -18%;
  }

  @media only screen and (max-width: 1600px) {
    left: -13%;
    width: 10%;
  }

  @media only screen and (max-width: 1500px) {
    display: none;
  }
}

.img__formobile {
  display: none;

  @media only screen and (max-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.for__mobile {
  @media only screen and (max-width: 1200px) {
    margin: 10px;
  }
}

.footer__img {
  position: absolute;
  top: 0;
  right: 8%;
  width: 38%;

  @media only screen and (max-width: 1200px) {
    display: none;
  }
}

.lezy__wrapper {
  @media only screen and (max-width: 1200px) {
    display: none;
  }
}

.lazy {
  width: 80%;
}

.img__slick {
  width: 65%;
  height: 100%;
}

.img__size {
  width: 74%;
  height: 85px;
}

.img__wrapper {
  width: 80%;
  height: 170px;
}

.slick-next {
  position: absolute;
  top: 28%;
  left: -10%;
  border: 20px solid transparent;
  border-right: 20px solid white;
}

.slick-prev {
  width: 37px;
  height: 42px;
  position: absolute;
  top: 26%;
  left: -4%;
  padding-left: 43px;
  border: 20px solid transparent;
  border-left: 20px solid white;
}

.slick__btn {
  width: 50px;
  height: 100px;
  background-color: $pink-color;
  border-radius: 25px;
  position: absolute;
  top: 33%;
  left: 12%;
}

.slick__btn::before {
  content: "";
  width: 80%;
  border-bottom: 1px solid #ffffff;
  position: absolute;
  top: 50%;
  left: 6%;
}
